.gradle/
build/
.norm/
.norm-home/
.tmp/
node_modules/
frontend/generated/
src/main/frontend/generated/
src/main/bundles/*
!src/main/bundles/prod.bundle
.vaadin-node-tasks.lock
vite.generated.ts
types.d.ts
**/src/main/frontend/generated/
**/frontend/generated/
**/vite.generated.ts
**/types.d.ts
ui/web/resources/META-INF/licenses/ui.web/LICENSE
samples/demo/resources/META-INF/licenses/demo/LICENSE
